/* 
 CSS RULE
selector
curly braces
properties
colon
values

Types of Selectors

document selector  *
element selector : A particular element
id selector : Attribute of id
class selector :  Atrribute of class
multiple selectors. 
descendant selector
pseudo class
*/
@import url('https://fonts.google.com/specimen/Young+Serif');




.bold {
	font-weight: bold;
}
body {

  font-family: 'Young';

}

img {
  object-fit: contain;
  width: 100%;
}
table {
 width: 100%;
 
}
caption {
  text-align: center;
}
.container-body {
	max-width: 400px;

	background: #ffffff;
	margin: 0 auto;
}
.container-inner {
	padding: 10px;
}
h1 {
	margin-bottom: 1em;
}
h2, tr > td:nth-child(2) {
  color: #7b284f;
}

 li  {
  margin: 1em;
}
ul {
  padding-left: 10px;
}
.preparation-container {
  background-color: #fcf3ea;
  padding-left: 1em ;
}




@media screen and (min-width : 400px  ) {
  /* Styles applied when the screen width is 600 pixels or less */
  body {
	background-color: #f3e6d8;
  }
  .container-body {
   padding: 20px;
   border-radius: 10px;
   margin: 50px auto;
  }
}

